<h1>Listing setors</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sigla</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @setors.each do |setor| %>
  <tr>
    <td><%= setor.nome %></td>
    <td><%= setor.sigla %></td>
    <td><%= link_to 'Show', setor %></td>
    <td><%= link_to 'Edit', edit_setor_path(setor) %></td>
    <td><%= link_to 'Destroy', setor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setor', new_setor_path %>
