<div id="notice"><%= notice %></div>
 <h2><%= @setor.nome %> - <%= @setor.sigla %></h2>

  <% if @setor.documentos.present? %>
    <fieldset class="round">
      <div id="subtitulo">Documentos do setor.</div>
      <% @setor.documentos.each do |documento| %>
        <div class="documentos">
          <div id="esq">
            <h3><%= link_to documento.tipo + ' Nº' + documento.numero_de_processo , documento %></h3>
            Assunto: <%= documento.assunto %> 
            <table><tr><th width="80px" align="left">Origem: <%= documento.setor_origem.sigla %>,</th>
            <th>por <%= documento.funcionario_origem.nome %> </th></tr></table>
          </div>
          <div id="dir"><b><%= documento.doc_tramitacaos.count %> Tramitações</b> <p>Setor atual: <%= documento.setor_atual.sigla %></div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <% if @setor.documentos_comigo.present? %>
    <fieldset class="round">
    <div id="subtitulo">Documentos que estão neste setor no atual momento.</div>
      <% @setor.documentos_comigo.each do |documento| %>
        <div class="documentos">
          <div id="esq">
            <h3><%= link_to documento.tipo + ' Nº' + documento.numero_de_processo , documento %></h3>
            Assunto: <%= documento.assunto %> 
            <table><tr><th width="80px" align="left">Origem: <%= documento.setor_origem.sigla %>,</th>
            <th>por <%= documento.funcionario_origem.nome %> </th></tr></table>
          </div>
          <div id="dir">
            <% if documento.setor_atual == current_user.funcionario.setor %>
              <b id="tramitar"><%= link_to 'Tramitar', new_documento_doc_tramitacao_path(documento) %></b> <p>
            <% end %>
            Setor atual: <%= documento.setor_atual.sigla %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>


  
<%= link_to 'Voltar', setors_path %>
