<p id="notice"><%= notice %></p>

<p>
  <b>Setor destino:</b>
  <%= @doc_tramitacao.pessoa_destino.setor.nome %>
</p>

<p>
  <b>Pessoa destino:</b>
  <%= @doc_tramitacao.pessoa_destino.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @doc_tramitacao.data_hora %>
</p>
<% if can? :edit, @doc_tramitacao %>
  <%= link_to 'Editar', edit_documento_doc_tramitacao_path(@doc_tramitacao) %> |
<% end %>
<%= link_to 'Voltar', @doc_tramitacao.documento %>

