<p id="notice"><%= notice %></p>

<p>
  <b>Setor destino:</b>
  <%= @doc_tramitacao.pessoa_destino.setor.nome %>
</p>

<p>
  <b>Pessoa destino:</b>
  <%= @doc_tramitacao.pessoa_destino.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @doc_tramitacao.data_hora %>
</p>

<%= link_to 'Finalizar', :back %>
