<h2>Listagem de Documentos</h2>
  
<% @documentos.each do |documento| %>
<div class="documentos">
  <div id="esq">
    <h3><%= link_to documento.tipo + ' Nº' + documento.numero_de_processo , documento %></h3>
    Assunto: <%= documento.assunto %> 
    <table><tr><th width="80px" align="left">Origem: <%= documento.setor_origem.sigla %>,</th>
    <th>por <%= documento.funcionario_origem.nome %> </th></tr></table>
  </div>
  <div id="dir"><b><%= n = documento.doc_tramitacaos.count %> <%= n == 1 ? 'Tramitação' : 'Tramitações' %></b> <p>Setor atual: <%= documento.setor_atual.sigla %></div>
</div>
<% end %>

<br />
