<%= semantic_form_for(@funcionario) do |f| %>

  <div id="new">  
    <%= f.input :nome %>
    <%= f.input :matricula %>
    <%= f.input :setor, :label_method => :nome %>
  </div>
  <%= f.submit 'Salvar' %>

<% end %>
