<h1>Listing funcionarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>Email</th>
    <th>Setor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funcionarios.each do |funcionario| %>
  <tr>
    <td><%= funcionario.nome %></td>
    <td><%= funcionario.matricula %></td>
    <td><%= funcionario.email %></td>
    <td><%= funcionario.setor %></td>
    <td><%= link_to 'Show', funcionario %></td>
    <td><%= link_to 'Edit', edit_funcionario_path(funcionario) %></td>
    <td><%= link_to 'Destroy', funcionario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Funcionario', new_funcionario_path %>
