<h2>Listagem de funcionarios</h2>

<% @funcionarios.each do |funcionario| %>
  <div class="funcionarios">
    <div id="esq">
      <h3><%= link_to funcionario.nome, funcionario %></h3>
      Email: <%= funcionario.user.email %> 
      <table><tr><th width="110px" align="left">Matricule: <%= funcionario.matricula %>,</th>
      <th> Setor: <%= funcionario.setor.nome %> </th></tr></table>
    </div>
    <div id="dir"><b>Possui <%= n = funcionario.documentos.count %> <%= n == 1 ? 'documento' : 'documentos' %></b></div>
  </div>
<% end %>

<br />

