<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @funcionario.nome %>
</p>

<p>
  <b>Matricula:</b>
  <%= @funcionario.matricula %>
</p>

<p>
  <b>Email:</b>
  <%= @funcionario.email %>
</p>

<p>
  <b>Setor:</b>
  <%= @funcionario.setor.nome %>
</p>


<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
