<div id="notice"><%= notice %></div>

<% if flash[:error].present? %>
  <div id="error_authentication">
    <%= flash[:error] %>
  </div>
<% end %>

  <h2><%= @funcionario.nome %></h2>

  <h4 id="show" class="round">
    <b> Email:</b> <%= @funcionario.user.email %>, 
    <b>Setor:</b> <%= @funcionario.setor.nome %> - 
    <b>Matricula:</b> <%= @funcionario.matricula %>
  </h4>
  
  <% if @funcionario.documentos.present? %>
    <fieldset class="round">
      <div id="subtitulo" class="round">Documentos criado por <%= @funcionario.nome %></div>
      <% @funcionario.documentos.each do |documento| %>
        <div class="documentos">
          <div id="esq">
            <h3><%= link_to documento.tipo + ' Nº' + documento.numero_de_processo , documento %></h3>
            <b>Assunto: </b><%= documento.assunto %> 
            <table><tr><th width="66px" align="left">Atualmente</th>
            <th>com <%= documento.funcionario_atual.nome %></th></tr></table>
          </div>
          <div id="dir">
            <a href="index.ht" onclick="return hs.htmlExpand(this)"><%= n = documento.doc_tramitacaos.count %> <%= n == 1 ? 'Tramitação' : 'Tramitações' %></a>
            <div class="highslide-maincontent">
	            <fieldset class="round">
                <div id="subtitulo">tramitações</div>
	              <% documento.doc_tramitacaos.each do |doc_tramitacao| %>
                  <div id="data">tramitou p/ ---------------> <%= h(doc_tramitacao.data_hora.strftime('%d/%m/%Y')) %></div>
                  <div id="tramitacoes" class="round">
                    <%= doc_tramitacao.pessoa_destino.nome %>
                    <div id="subtitulo"><b><%= doc_tramitacao.pessoa_destino.setor.sigla %></b></div>
                  </div>
                <% end %>
              </fieldset>
            </div>
            <p>Setor atual: <%= documento.setor_atual.sigla %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <% if @funcionario.documentos_comigo.present? %>
    <fieldset class="round">
      <div id="subtitulo" class="round">Documentos com <%= @funcionario.nome %> no atual momento</div>
      <% @funcionario.documentos_comigo.each do |documento| %>
        <div class="documentos">
          <div id="esq">
            <h3><%= link_to documento.tipo + ' Nº' + documento.numero_de_processo , documento %></h3>
            Assunto: <%= documento.assunto %> 
            <table><tr><th width="80px" align="left">Origem: <%= documento.setor_origem.sigla %>,</th>
            <th>por <%= documento.funcionario_origem.nome %> </th></tr></table>
          </div>
          <div id="dir">
            <% if documento.setor_atual == current_user.funcionario.setor %>
              <b id="tramitar"><%= link_to 'tramitar', new_documento_doc_tramitacao_path(documento) %></b><p>
            <% end %>
            Setor atual: <%= documento.setor_atual.sigla %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

<%= link_to 'Voltar', :back %>
