<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>Tramitacao</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="/javascripts/highslide-with-html.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    hs.graphicsDir = '/images/graphics/';
    hs.outlineType = 'rounded-white';
    hs.wrapperClassName = 'draggable-header';
  </script>
</head>
<body>
<!-- ---------------------------------------TOPO---------------------------------------- -->
<div id="header">
  <div id="menu">
			  <ul id="nav">
				  <li><a href="/" title="Visit my website">Documentos</a></li>
				  <li id="active"><a href="/setors">Setores</a></li>
				  <li><a href="/funcionarios">Funcionarios</a></li>
				  <li><a href="#">Services</a>  </li>
			  </ul>
  </div>
  <div id="log">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Não é voçê?
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
  <h1> <span class="big">TRAMITAR</span> <br> Controle de documentos </h1>
</div>
<!-- --------------------------------------TOPO FIM------------------------------------- -->

<div id="wrap">
  <div id="gutter"></div>

<!-- ---------------------------------COLUNA PRINCIPAL---------------------------------- -->
  <div id="col1">
       <%= yield %> 
  </div>
<!-- ---------------------------------COLUNA PRINCIPAL FIM------------------------------ -->



<!-- ----------------------------------COLUNA LATERAL----------------------------------- -->
  <div id="col2">
    <h2>Documentos</h2>
    <div id="navcontainer">
			    <ul id="navlist">
				    <li><a href="/setors" title="documentos por setor">Por Setor</a></li>
				    <li><a href="/funcionarios" title="documentos por funcionario">Por Funcionario</a></li>
				    <li><a href="/documentos" title="mostrar todos os documentos">Mostrar todos</a></li>
				    <% if user_signed_in? && current_user.funcionario.blank? == false %><li><a href="<%= new_documento_path %>" title="criar um novo documento">Criar novo</a></li><% end %>
				  </ul> 
    </div>
    
    <% if user_signed_in? && current_user.funcionario.present? %>
      <h2>Seções</h2>    
      <div id="navcontainer">
			      <ul id="navlist">
				      <li><a href="/funcionarios/<%= current_user.funcionario.id %>" title="Mostrar meus documentos">Meus documentos</a></li>
				      <li><a href="/setors/<%= current_user.funcionario.setor.id %>" title="Mostrar documentos do meu setor">Meu setor</a></li>
				      <li><%= link_to "Sair", destroy_user_session_path %></li>
				    </ul> 
      </div>
    <% end %>

    <div id="footer">
      <p><a href="#">homepage</a> | <a href="mailto:denise@mitchinson.net">contact</a> | &copy; 2008 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a> |  Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0  License</a></p>
    </div>
  </div>
<!-- -------------------------------COLUNA LATERAL FIM--------------------------------- -->

</div>
</body>
</html>
