<!DOCTYPE html>
<html>
<head>
  <title>Tramitacao</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
 <div id="user_nav">
  <% if usuario_signed_in? %>
    Signed in as <%= current_usuario.email %>. Not you?
    <%= link_to "Sign out", destroy_usuario_session_path %>
  <% else %>
    <%= link_to "Sign up", new_usuario_registration_path %> or <%= link_to "sign in", new_usuario_session_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
